

.subject {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.project_desc {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0, 04em;

  margin-bottom: 30px;
}


.subject::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(../../images/add_people.svg);
  background-size: contain;
}

.subject:hover {
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.53);
  transition: all 0.25s linear;
  transform: scale(1.03);
}

.title {
  display: flex;
  align-items: center;
  height: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
  .project {
    display: flex;
  }

  .sprints {
    width: 472px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .addSprintButton {
    position: absolute;
    top: 120px;
    right: 40px;
  }

  .createSprint {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .sprints {
    width: 940px;
    padding-left: 70px;
  }

  .addSprintButton {
    position: absolute;

    height: 44px;
    right: 90px;
    top: 120px;
    display: flex;
    align-items: center;
    letter-spacing: 0, 04em;
  }

  .createSprint {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #181c27;
    margin-left: 20px;
  }

  .project_desc {
  width: 400px;
  height: 66px;
}

}
