.basket {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0;

  width: 20px;
  height: 20px;
  background-image: url(../../images/basket.svg);
  border-radius: 50%;
  border: none;
  cursor: pointer;

  z-index: 1;
}
.basket:hover {
  transform: rotate(65deg);
  box-shadow: 8px 2px 13px rgba(156, 54, 6, 0.294);
  transition: all 0.25s linear;
}
