@media screen and (max-width: 767px) {
  .sidebar_add_button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .sidebar_add_button {
    /* position: fixed; */
    margin-top: 110px;
    bottom: 50px;
    width: 160px;
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }

  .create_project_text {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;

    color: #181c27;
  }
}
@media screen and (min-width: 1280px) {
}
