.iconButton {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 256px;
  top: 504px;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font: inherit;
  background-color: #ff6b08;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
