
.list_sprint {
  margin: 0 30px 0 30px;
  display: flex;
  align-items: center;
  height: 30px;
}

.title_sprint {
  position: relative;
  border-bottom: 1px solid rgba(24, 28, 39, 0.1);
  padding: 0 30px 10px 70px;
  padding: 20px 0 10px 0;
}

.list_sprint_item {
  margin-right: 95px;
  
}

.list_sprint_item:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0;
}


