@media screen and (min-width: 1280px) {
  .sprint_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 50px;
    position: relative;
    margin-top: 30px;
    padding: 20px 0 10px 70px;
    border-bottom: 1px solid rgba(24, 28, 39, 0.2);
  }
  .title_sprint {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin-right: 20px;
  }
  .list_sprint_item:not(:last-child) {
    width: 100px;
  }

  .list_sprint_item:first-child {
    margin-left: 20px;
    width: 160px;
  }

  /*.list_sprint_item:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 44px;
  margin-right: 0;
}*/
}
@media screen and (max-width: 1279px) {
  .search_input,
  .title_sprint {
    display: none;
  }
}
