
.list_sprint {
  padding: 0 30px 0 30px;
  display: flex;
  align-items: center;
}

.title_sprint {
  position: relative;
  border-bottom: 1px solid rgba(24, 28, 39, 0.1);
  padding: 0 30px 10px 70px;
  padding: 20px 0 10px 0;
}

.list_sprint_item {
  margin-right: 95px;
  
}

/* .search {
  width: 20px;
  height: 20px;
  border: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: transparent; */
  /* cursor: pointer;
  outline: none;
  position: absolute;
  right: 0;
  top: 50%;
  background-image: url('../../images/search.svg');
} */ 
