@media screen and (min-width: 768px) {
  .list_item {
    margin-bottom: 15px;
  }

  .list_item {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #181c27;
  }

  .link_active {
    font-weight: bold;
  }

  .list_item::before {
    content: '';
    width: 36px;
    height: 36px;
    background: white;
    box-shadow: 2px 2px 4px rgb(0 5 97 / 20%);
    border-radius: 5px;
  }

  .link_list_item_sp {
    display: block;
    max-width: 120px;
    margin-left: 15px;
    color: #181c27;
    overflow-wrap: break-word;
  }
}
