.link, .link_active {
  color: #181C27;
}

.link_active {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .list_item {
    margin-bottom: 15px;
  }

  .list_item {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #181c27;
  }

  .list_item::before {
    content: '';
    width: 36px;
    height: 36px;
    background: white;
    box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);

    border-radius: 5px;
  }

  .link_list_item_sp {
    margin-left: 15px;
  }
}
