.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.ModalContent {
  position: absolute;
  width: 320px;
  height: 100%;
  right: 0px;
  top: 0px;
  padding-top: 63px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 101;

  @media screen and (min-width: 767px) {
    padding-top: 120px;
    width: 512px;
  }
  @media screen and (min-width: 1200px) {
    width: 530px;
  }
}

.ModalCloseBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: 300;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  cursor: pointer;

  color: rgba(24, 28, 39, 0.6);
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.25s linear;

  &:hover,
  &:focus {
    right: 8px;
    top: 7px;
    transform: rotate(225deg);
  }
}

.ModalBtnWrapper {
  padding: 0;
  @media screen and (min-width: 767px) {
    padding: 40px 0;
  }
}

.ModalBtnExit {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 154px;
  height: 44px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  cursor: pointer;

  color: rgba(24, 28, 39, 0.6);
  background: #fff;
  text-decoration-line: underline;
  transition: all 0.25s linear;

  &:hover,
  &:focus {
    color: #181c27;
    text-shadow: 4px 4px 2px #969696;
  }
}
