@media screen and (max-width: 767px) {
  .sidebar {
    height: 40px;
    box-sizing: border-box;
    /* border-bottom: 1px solid rgba(24, 28, 39, 0.1); */
    position: relative;
  }

  .sidebar::after {
    position: absolute;
    bottom: 0;
    left: -20px;

    content: '';
    font-display: block;
    width: 320px;
    height: 1px;
    background-color: rgba(24, 28, 39, 0.1);
    
  }
  
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 200px;
    margin: 0;
    padding: 20px 30px 0 0 ;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(24, 28, 39, 0.1);
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1280px) {
  /* .sidebar {
    padding: 20px 30px;
  } */
}

.show_back {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  letter-spacing: 0.04em;
  color: #181c27;

  cursor: pointer;
}

.show_back::before {
  content: '';
  width: 30px;
  height: 10px;
  display: inline-block;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-image: url(../../images/arrow.svg);
}

.show_back:hover {
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.53);
  transition: all 0.25s linear;
  transform: scale(1.03);
}

@media screen and (max-width: 767px) {
  .show_back {
    height: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .show_back {
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .show_back:hover {
    text-shadow: -90px 0px 0px rgba(0, 0, 0, 0.72);
    transition: all 0.25s linear;
    transform: scale(1.03);
  }
}

@media screen and (min-width: 1280px) {
  .show_back {
    margin-bottom: 165px;
  }
}
