@media screen and (min-width: 320px) {
  .list_sprint {
    margin-left: auto;
    margin-right: auto;
    padding: 20;
  }
  .list_sprint_item {
    height: 214px;
    width: 300px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 6px 15px rgb(2 4 48 / 10%);
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.25s linear;
  }
  .title {
    margin-bottom: 20px;
  }

  .list_sprint_item_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .delete_btn {
    margin-left: 243px;
  }
}
.list_sprint_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.list_sprint_item:hover:focus {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
  transition: all 0.25s linear;
}

.title::after {
  padding-top: 7px;
  display: block;
  content: '';
  width: 106px;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);
}

.hoursPerDay_input {
  width: 50px;
  border: none;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 5px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
}
.delete_btn {
  width: 20px;
  height: 20px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  background-image: url('../../images/delete.svg');
  outline: none;
  transition: all 500ms linear;
}
.delete_btn:hover {
  box-shadow: 8px 2px 13px rgb(156 54 6 / 29%);
  transition: all 0.25s linear;
  transform: rotate(65deg);
}
