.listItem {
  position: relative;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 250ms linear;
}
.listItem:hover {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
  transition: all 0.25s linear;
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);
}
.sprint_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sprint_desc:nth-child(3n + 1) {
  margin-bottom: 10px;
}

.hoursPerDay_input {
  width: 60px;
  outline: none;
  border-style: none;
  border: none;
  background: none;
  border-bottom: 1px solid rgba(24, 28, 39, 0.2);
}

.hoursPerDay_wrapper_input:hover {
  border-bottom: 1px solid #ff2c0c;
  transform: scale(1.03);
  border-color: #f37c2d;
  box-shadow: -2px 22px 16px -14px rgba(254, 138, 8, 0.75);
  -webkit-box-shadow: -2px 22px 16px -14px rgba(254, 138, 8, 0.75);
  -moz-box-shadow: -2px 22px 16px -14px rgba(254, 138, 8, 0.75);
}

@media screen and (max-width: 767px) {
  .listItem {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .listItem {
    width: 216px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1279px) {
    .listItem:nth-child(2n) {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 1279px) {
  .sprint_desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }

  .sprint_desc:nth-child(3n + 1) {
    margin-bottom: 10px;
  }
  .hoursPerDay_input {
    text-align-last: right;
  }
  .title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 869px;
    height: 114px;
    padding: 20px 30px;
  }

  .listItem:not(:last-child) {
    margin-bottom: 10px;
  }
  .list_sprint_item_title {
    display: none;
  }
  .title {
    display: flex;
    width: 190px;
    height: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #181c27;
    border-bottom: 1px solid rgba(24, 28, 39, 0.2);
  }
  /*.list_sprint_item_title{}*/
  .planHours {
    width: 100px;

    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    justify-content: center;
  }

  .hoursPerDay_input {
    width: 100px;
    height: 44px;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(24, 28, 39, 0.2);
    box-sizing: content-box;
  }
  .totalHours {
    width: 100px;
    color: rgba(24, 28, 39, 0.6);
  }
  .basketButton {
    position: relative;
    top: 20px;
  }
}
