@media screen and (max-width: 767px) {
  .link_list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .link_list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .link_list::-webkit-scrollbar {
    width: 3px;
  }

  .link_list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ff6b08;
  }

  .list_item {
    margin-bottom: 15px;
  }

  .list_item {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #181c27;
  }
  .list_item:nth-child(3n + 1)::before {
    background: #8c72df;
  }
  .list_item:nth-child(3n + 2)::before {
    background: #ff765f;
  }
  .list_item:nth-child(3n + 3)::before {
    background: #71df87;
  }
  .list_item::before {
    content: '';
    width: 36px;
    height: 36px;
    background: white;
    box-shadow: 2px 2px 4px rgb(0 5 97 / 20%);
    border-radius: 5px;
  }
}
