.headline {
  position: absolute;
  left: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
  transform: translateY(9px);
  transition: transform 250ms linear;
}
.label {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  font-weight: 600;
  color: rgba(24, 28, 39, 0.6);
}
.label_picker {
  position: relative;
  display: block;
  margin-bottom: 30px;
  font-weight: 600;
  color: rgba(24, 28, 39, 0.6);
}
.label:focus-within > .headline {
  transform: translateY(-18px);
  font-size: 14px;
  line-height: 17px;
}

.label_picker:focus-within > .headline {
  transform: translateY(-18px);
  font-size: 14px;
  line-height: 17px;
}
.inner_radio {
   width: 34px;
  height: 34px;
  width: 176px;
  height: 34px;
  margin-bottom: 40px;
}
.label_radio {
  display: flex;
  align-items: center;
}

.headline_radio {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  
  color: rgba(24, 28, 39, 0.6);
}
/*//////////Стилизация радиокнопки /////////////*/
.input_radio {
	position: absolute;
	z-index: -1;
	opacity: 0;

}
.headline_radio {
	position: relative;
	padding: 0 0 0 45px;
	cursor: pointer;
}
.headline_radio:before {
	content: '';
	position: absolute;
  top: -6px;
  left: 0;
	width: 34px;
	height:34px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
  margin-right: 10px;
}
.headline_radio:after {
	content: '';
	position: absolute;
  top: 3px;
  left: 9px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #ff6b08;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}
.input_radio:checked + .headline_radio:after {
	opacity: 1;
}
.input_radio:focus + .headline_radio:before {
	box-shadow: 0 0 0 3px rgba(247, 152, 75, 0.966);
}

/*//////////////////////////*/
.input {
  padding: 10px;
  width: 100%;
  outline: none;
  border-style: none;
  margin-bottom: 40px;
  border-bottom: 1px solid #d1d2d4;
}

.input:invalid {
  margin-bottom: 5px;
  color: #ff2c0c;
  border-bottom: 1px solid #ff2c0c;
}
.input:focus {
  border-color: #f37c2d;
  box-shadow: -2px 22px 16px -14px rgba(254, 138, 8, 0.75);
  -webkit-box-shadow: -2px 22px 16px -14px rgba(254, 138, 8, 0.75);
  -moz-box-shadow: -2px 22px 16px -14px rgba(254, 138, 8, 0.75);
}
.input:not(:placeholder-shown) + .headline {
  transform: translateY(-8px);
  font-size: 12px;
}
/*.input_radio {
  color: coral;
  border: 4px solid #ffffff;
}*/

@media screen and (min-width: 320px) {
 /* .radio {
    position: absolute;
    left: 20px;
    top: 254px;
    background: #ff6b08;
    border: 1px solid #d1d2d4;
    box-sizing: border-box;
  }*/
}
@media screen and (min-width: 768px) {
  .inner {
    display: flex;
  }

  .label_picker {
    margin-right: 30px;
  }
}
