.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 14px;
  padding-bottom: 16px;
}

.header:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(11, 36, 105, 0.1);
  top: 60px;
  left: 0;
}

.logo {
  height: 30px;
}

.userMenu {
  display: flex;
  align-items: center;
}

.userName {
  font-weight: 600;
  color: #181c27;
  margin-right: 77px;
}

.logOutBtn {
  padding: 0;
  display: flex;
  align-content: center;
  align-items: center;
  font-weight: 400;
  color: rgba(24, 28, 39, 0.6);

  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: transparent;
}

.logOutBtn:before {
  /* content: url(../..); */
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .logo {
    height: 42px;
  }

  .header:after {
    top: 80px;
  }
}
