@media screen and (min-width: 768px) {
  .sidebar {
    position: relative;
    width: 256px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 80px;
    border-right: 1px solid rgba(24, 28, 39, 0.1);
  }

  .wrapper {
    display: flex;
    margin-bottom: 80px;
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2142;
  }

  .container {
    position: absolute;
    bottom: 50px;
    left: 64px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container > .text {
    margin-top: 15px;
  }

  .button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .wrapper {
    margin-bottom: 180px;
  }

  .container {
    left: 72px;
  }
}
