.sidebar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2142;
}

.container {
  display: none;
}

@media screen and (max-width: 767px) {
  .sidebar:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(11, 36, 105, 0.1);
    top: 110px;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: relative;
    width: 216px;
    padding-top: 20px;
    padding-right: 27px;
    padding-bottom: 80px;
    border-right: 1px solid rgba(24, 28, 39, 0.1);
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
  }

  .container {
    position: absolute;
    bottom: 50px;
    left: 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container > .text {
    margin-top: 15px;
  }

  .button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .sidebar {
    width: 200px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .wrapper {
    margin-bottom: 180px;
  }

  .container {
    left: 35px;
  }
}
