.btn {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ff6b08;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-width: 0px;
  border-radius: 25px;

  cursor: pointer;
  transition: 0.2s ease, height 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  box-shadow: 0px 3px 10px rgba(255, 107, 8, 0.6);
  transition: all 0.25s linear;
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .btn {
    position: fixed;
    bottom: 40px;
    right: 150px;

    z-index: 2;
  }
}
@media screen and (max-width: 767px) {
  .btn {
    position: fixed;
    bottom: 20px;
    left: 20px;

    z-index: 2;
  }
}
