.header {
  display: flex;
  justify-content: space-between;
}
.headPanelWrapper {
  display: flex;
  justify-content: space-between;
}
.chart_wrapper {
  position: fixed;
}
.search {
  width: 20px;
  height: 20px;
  border: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  top: 50%;
  background-image: url('../../images/search.svg');
}
@media screen and (max-width: 767px) {
  .header {
    margin-top: 20px;
  }

  .headPanelWrapper {
    flex-direction: column;
    align-items: baseline;
    margin: 0;
  }

  .chart_wrapper {
    left: 20px;
    bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
  }
  .headPanelWrapper {
    margin-top: 10px;
  }
  @media screen and (max-width: 1279px) {
    .header {
      padding-left: 20px;
      border-bottom: 1px solid rgba(24, 28, 39, 0.1);
    }
  }
  .addTasksButton {
    position: absolute;
    top: 140px;
    right: 40px;
  }
  .chart_wrapper {
    right: 55px;
    bottom: 60px;
  }
}

@media screen and (max-width: 1279px) {
  .name_button {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    justify-content: space-between;
  }

  .wrapper_tasks {
    width: 970px;
  }

  .header {
    padding-left: 70px;
  }

  .addTasksButton {
    position: absolute;
    height: 44px;
    right: 90px;
    top: 140px;
    display: flex;
    align-items: center;
    letter-spacing: 0, 04em;
  }

  .name_button {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #181c27;
    margin-left: 20px;
  }
}