.task_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #181c27;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .task_list {
    margin-top: 30px;
  }
}
