.porodject {
  position: relative;
  margin-right: 20px;
}
.porodject_tital {
  display: flex;
  align-items: center;
  width: 160px;
  height: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.tital {
  margin-right: 20px;
}
.porodject_desc {
  margin-bottom: 30px;
}
.subject {
  display: inline-flex;
  align-items: center;
  color: currentColor;
  text-decoration: transparent;
  font-size: 32px;
  margin-bottom: 30px;
}
.subject::before {
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(../../components/icons/add_people.svg);
  background-size: contain;
}
